﻿@{
    ViewBag.Title = "Projekty";
}

<body>
    <div id="container">
        @Html.Partial("/Views/Shared/_HeaderPartial.cshtml")

        <div id="dol">
            @Html.Partial("/Views/Shared/_MenuBocznePartial.cshtml")
            <div id="dolprawy">
                Brak projektów
            </div>
        </div>
        @Html.Partial("/Views/Shared/_FooterPartial.cshtml")
    </div>
</body>

