﻿@{
    ViewBag.Title = "Semestr";
}

<body>
    <div id="container">
        @Html.Partial("/Views/Shared/_HeaderPartial.cshtml")

        <div id="dol">
            @Html.Partial("/Views/Shared/_MenuBocznePartial.cshtml")
            <div id="dolprawy">
                <div id="semestr">
                    <h3>Lista przedmiotów</h3>
                    <ul>
                        <li>Algorytmy II</li>
                        <li>Pracownia programowania zespołowego</li>
                        <li>Programowanie serwisów Web</li>
                        <li>Uczenie maszynowe, algorytmy i systemy datamining </li>
                        <li>Administrowanie sieciami lokalnymi i serwerami</li>
                        <li>Dynamika molekularna</li>
                        <li>CUDA</li>
                    </ul>
                </div>
            </div>
        </div>
        @Html.Partial("/Views/Shared/_FooterPartial.cshtml")
    </div>
</body>



